// Glyphicons font path
$icon-font-path:        		"../fonts/";

// Grid settings
$main-sm-columns:       		12;
$sidebar-sm-columns:    		4;

// Colors
$brand-primary:         		#062a47;
$brand-primary-dark:			#041c2f;
$brand-primary-transparent:		rgba(6, 42, 71,.7);
$brand-secondary:         		#FAE200;
$brand-secondary-dark:         	#E1CB00;
$brand-secondary-transparent:	rgba(250, 226, 0,.7);
$brand-complimentary:         	#ffa700;
$brand-heading-primary:			#515151;
$brand-heading-secondary:		#444444;
$brand-text-primary:			#7a7a7a;
$brand-text-secondary:			#5e5e5e;

// Font Family
$serif:							"Sentinel A", "Sentinel B", serif;
$serif-normal:					normal;
$serif-italic:					italic;
$serif-500:						300;

$sans-serif:					"Gotham SSm A", "Gotham SSm B", "Gotham Bold", sans-serif;
$sans-serif-normal:				normal;
$sans-serif-300:				300;
$sans-serif-500:				500;
$sans-serif-800:				800;



// Transitions
@mixin transition($ease) {
	-webkit-transition:$ease;
	   -moz-transition:$ease;
	   	 -o-transition:$ease;
	   	 	transition:$ease;
}



////******************************************////////////